@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "PoppinsRegular";
    src: url("/public/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "PoppinsLight";
    src: url("/public/fonts/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "PoppinsSemibold";
    src: url("/public/fonts/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: "PoppinsBold";
    src: url("/public/fonts/Poppins-Bold.ttf");
  }
}

body {
  @apply text-textColor bg-bodyColor font-poppinsRegular text-small md480:text-default;
}

.custom_container {
  @apply max-w-[1120px] mx-[1.5rem] xs320:mx-[1rem] lg1120:mx-auto xl2048:max-w-[1300px];
}

.section {
  @apply pt-[4rem] px-[0.5rem] md800:px-[0.75rem] lg1023:px-[1.25rem];
}

.page {
  @apply pt-[3.75rem] md800:pt-[9rem];
}

input {
  @apply font-poppinsLight text-textColor focus:outline-none hover:outline-none;
}
textarea {
  @apply focus:outline-none hover:outline-none;
}

/* Account panel square symbol */
#account-panel-tag ::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10%;
  height: 20px;
  width: 20px;
  background-color: white;
  transform: rotate(45deg);
}

/* Change the text-highlighting color */
::selection {
  background-color: #00aeff;
  color: #fafafa;
}

/* Hide the horizontal scrollbar in Chrome, Safari and newer Edge */
::-webkit-scrollbar:horizontal {
  display: none;
  overflow-x: scroll;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  border-radius: 999px;
  width: 0.65rem;
  height: 0.2rem;
  background-color: #f3f5f7;
}
::-webkit-scrollbar-thumb {
  background-color: #2a3445;
  border-radius: 999px;
}
/* Hide horizontal scrollbar in Firefox */
/* * {
  scrollbar-width: none;
} */

/* Remove the increment and decrement arrow buttons in the number input fields */
/* In Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  /* In Firefox */
  -moz-appearance: none;

  /* In Edge */
  appearance: none;
}

/* REUSABLE CLASSES */
/* layout */
.flex_col {
  @apply flex flex-col;
}
.flex_col_center {
  @apply flex flex-col justify-center items-center;
}
.flex_center {
  @apply flex justify-center items-center;
}
.flex_end {
  @apply flex justify-end items-end;
}

/* properties sections */
.properties_section-container {
  @apply flex flex-col justify-between md480:flex-row md480:mb-[1.5rem];
}
.properties_section-heading {
  @apply font-poppinsSemibold text-h3 text-darkThemeColor mb-[1.5rem] md480:mb-0;
}
.properties_section-arrow {
  @apply px-[0.5rem] py-[0.25rem] bg-lightThemeColor text-bodyColor text-default rounded-md font-semibolded cursor-pointer;
}
.properties_section-slider {
  @apply flex items-center gap-2 overflow-x-auto w-full scroll-smooth md800:gap-4;
}
.properties_section-morebtn {
  @apply text-bodyColor bg-ctaColor px-[1.5rem] py-[0.75rem] w-full hover:bg-darkThemeColor;
}

/* hook cards */
.hook_card {
  @apply flex justify-center items-center py-[1.75rem] px-[0.5rem] h-[270px] col-span-1 rounded-[1rem] md480:py-[2rem] md480:h-[300px] md800:h-[280px] md480:col-span-2;
}
.hook_card-contentbuttonwrapper {
  @apply flex flex-col justify-between items-center w-full h-full;
}
.hook_card-contentwrapper {
  @apply flex flex-col justify-center items-center space-y-[1.5rem];
}
.hook_card-button {
  @apply px-[2rem] py-[0.75rem] border-[1.8px] rounded-md font-poppinsLight truncate md480:px-[1.25rem] md800:px-[1.75rem] lg1023:px-[2rem];
}

/* contact input field */
.contact_input {
  @apply px-[0.75rem] py-[0.75rem] rounded-md w-full bg-inherit text-lightThemeColor font-poppinsSemibold text-smaller border-[1.5px] border-gray-200 hover:border-gray-400 focus:border-gray-400 md480:text-small;
}

/* property cards */

/* auth pages */

/* auth form fields */

/* account panel links */

/* properties single category and type */
