@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "PoppinsRegular";
    src: url("/public/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "PoppinsLight";
    src: url("/public/fonts/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "PoppinsSemibold";
    src: url("/public/fonts/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: "PoppinsBold";
    src: url("/public/fonts/Poppins-Bold.ttf");
  }
}

body {
  @apply text-textColor bg-bodyColor font-poppinsRegular text-small md480:text-default;
}

.custom_container {
  @apply max-w-[1120px] mx-[1.5rem] xs320:mx-[1rem] lg1120:mx-auto xl2048:max-w-[1300px];
}

.section {
  @apply pt-[4rem] px-[0.5rem] md800:px-[0.75rem] lg1023:px-[1.25rem];
}

.page {
  @apply pt-[3.75rem] md800:pt-[9rem];
}

input {
  @apply font-poppinsLight text-textColor focus:outline-none hover:outline-none;
}

/* Account panel square symbol */
#account-panel-tag ::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10%;
  height: 20px;
  width: 20px;
  background-color: white;
  transform: rotate(45deg);
}

/* Change the text-highlighting color */
::selection {
  background-color: #00aeff;
  color: #fafafa;
}

/* Hide the horizontal scrollbar in Chrome, Safari and newer Edge */
::-webkit-scrollbar:horizontal {
  display: none;
  overflow-x: scroll;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  border-radius: 999px;
  width: 0.65rem;
  height: 0.2rem;
  background-color: #f3f5f7;
}
::-webkit-scrollbar-thumb {
  background-color: #2a3445;
  border-radius: 999px;
}
/* Hide horizontal scrollbar in Firefox */
/* * {
  scrollbar-width: none;
} */

/* Remove the increment and decrement arrow buttons in the number input fields */
/* In Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  /* In Firefox */
  -moz-appearance: none;

  /* In Edge */
  appearance: none;
}
